<div id="main-container">
    <div class="left">
      <h1><b><a href="/"> SOURAV JAIN</a></b></h1>

      <p> 💻 Programmer, Punctual & Self Motivated.!! 🚀</p>

      <p> 📝 My <a href="https://drive.google.com/file/d/1mTqc4_b-W4sLXkunCxfJhLRY3UajGCVJ/view" target="_blank">Resumé</a></p>

      <p> ▶️ What <a class="button" routerLink="/now" routerLinkActive="activebutton"> I'm Doing Now</a>..!!</p>

      <p> 🏆 Here are some of my <a class="button" routerLink="/projects" routerLinkActive="activebutton">Projects</a>✍🏻</p>
      <hr>
      <router-outlet></router-outlet>
    </div>

    <div class="right">
      <img src="./assets/img/sj.jpg">
    </div>
</div>

<div id="icon-list">
    <a href="mailto:sjainsourav@gmail.com" target="_blank">
      <img src="./assets/img/gmail.svg">
    </a>
    <a href="https://github.com/thesouravjain" target="_blank">
      <img src="./assets/img/github.svg">
    </a>
  <a href="https://www.linkedin.com/in/thesouravjain" target="_blank">
      <img src="./assets/img/linkedin.svg">
    </a>
  <a href="https://www.facebook.com/thesouravjain" target="_blank">
      <img src="./assets/img/facebook.svg">
    </a>
  <a href="https://www.twitter.com/thesouravjain" target="_blank">
      <img src="./assets/img/twitter.svg">
    </a>
</div>
